.appointmentsCon{
    width: 100%;
    height: 370px;
    display: flex;
    margin-top: 20px;
    overflow-x: auto;
    padding-left: 10px;
}
.appointmentsCon::-webkit-scrollbar{
    height: 5px !important; 
}
.appointment{
    width: 370px;
    height: 350px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    margin-right: 25px;
    flex-shrink: 0;
}
.appintmentName{
    font-size: 24px;
    font-weight: 500;
    color: #000;
}
.appointmentInfo{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;
}
.info{
    font-weight: 400;
}
.archiveBtn{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #0098FF;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 14px;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.archiveBtn:hover{
    background-color: #fff;
    color: #0098FF;
    box-shadow: 0px 0px 10px #0098FF;
}