*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: Poppins;
}
.wrap{
  padding: 0 200px;
}
.mainScreen{
  width: 100%;
  height: 90vh;
  position: relative;
}
.mainScreenDecoration{
  width: 170px;
  height: 100vh;
  background-color: #49B3FB;
  position: absolute;
  top: -84px;
  right: -200px;
}