@media (max-width: 1025px) {
    /* header */
    header{
        padding: 0 100px !important;
    }
    .nav{
        width: 300px !important;
    }
    .header_btn{
        width: 110px !important;
        height: 50px !important;
    }
    .header_buttons{
        width: 240px !important;
    }
    /* header */

    /* main screen */
    .mainScreenDecoration{
        width: 90px !important;
    }
    .mainScreenImg{
        width: 430px;
    }
    .mainScreen{
        padding: 0 100px !important;
    }
    .title{
        font-size: 46px !important;
    }
    .mainScreen .title, .subtitle{
        width: 480px;
    }
    .subtitle{
        font-size: 16px !important;
    }
    /* main screen */

    /* about us screen */
    .aboutUsScreen{
        padding: 0 100px !important;
        height: 75vh !important;
    }
    .abousUsimg{
        width: 320px;
    }
    .beforeTitle{
        font-size: 12px;
    }
    .aboutUsScreen .title{
        font-size: 36px !important;
        width: 350px;
    }
    .aboutUsScreen .subtitle{
        font-size: 14px !important;
        width: 350px;
    }
    .advantageIcon{
        width: 60px;
        height: 60px;
    }
    .advantageTitle{
        font-size: 20px !important;
    }
    .advantageSubtitle{
        font-size: 12px !important;
    }
    /* about us screen */

    /* services screen */
    .outServicesScreen{
        padding: 0 100px !important;
        height: 75vh !important;
    }
    .outServicesScreen .title{
        font-size: 36px !important;
    }
    .outServicesScreen .subtitle{
        font-size: 14px !important;
    }
    .servicesCard{
        width: 260px;
        height: 350px;
        padding: 20px;
    }
    .servicesCard_text h3{
        font-size: 24px !important;
    }
    .servicesCard_text p{
        font-size: 14px !important;
    }
    /* services screen */

    /* doctors screen */
    .ourDoctorsScreen{
        padding: 0 100px !important;
        height: 80vh !important;
    }
    .ourDoctorsScreen .title{
        font-size: 36px !important;
    }
    .ourDoctorsScreen .subtitle{
        font-size: 14px !important;
    }
    .doctorCard{
        width: 260px !important;
    }
    .doctorInfoCon{
        width: 160px !important;
    }
    .doctorName{
        font-size: 20px !important;
    }
    .possition{
        font-size: 14px !important;
    }
    .doctorCard_text{
        padding: 0 20px !important;
    }
    /* doctors screen */

    /* statistic screen */
    .statisticScreen{
        padding: 0 100px !important;
    }
    .statisticScreen .statisticNumber{
        font-size: 42px !important;
    }
    .statisticScreen .statisticDescription{
        font-size: 16px !important;
    }
    /* statistic screen */

    /* steps screen */
    .stepsScreen{
        padding: 0 100px !important;
        height: 75vh !important;
    }
    .stepsImg{
        width: 320px;
    }
    .stepsScreen .title{
        font-size: 36px !important;
    }
    .stepsScreen .subtitle{
        font-size: 14px !important;
    }
    .stepTitle{
        font-size: 18px;
    }
    .stepDescription{
        font-size: 12px;
    }
    .stepNumber{
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .step{
        width: 440px;
    }
    /* steps screen */

    /* make an appointment screen */
    .makeAnAppointmentScreen{
        padding: 40px 100px !important;
        height: 90vh !important;
    }
    .makeAnAppointmentScreen .title{
        font-size: 36px !important;
    }
    .makeAnAppointmentScreen .subtitle{
        font-size: 14px !important;
    }
    .makeAnAppointmentImg{
        width: 320px;
        height: min-content;
    }
    .makeAnAppointment_con{
        align-items: center;
    }
    form{
        width: 500px;
    }
    /* make an appointment screen */

    /* reviews */
    .reviewsScreen{
        padding: 40px 100px !important;
        height: 55vh !important;
    }
    .reviewsScreen .title{
        font-size: 36px !important;
    }
    .reviewsScreen .subtitle{
        font-size: 14px !important;
    }
    .review{
        width: 260px !important;
    }
    /* reviews */
}
@media (max-width: 768px) {
    /* header */
    header{
        padding: 0 70px 0 30px !important;
    }
    .logo{
        font-size: 22px !important;
        width: 125px !important;
    }
    .nav{
        width: 250px !important;
        font-size: 14px !important;
    }
    .header_btn{
        width: 90px !important;
        height: 45px !important;
        font-size: 14px !important;
    }
    .header_buttons{
        width: 200px !important;
    }
    /* header */

    /* main screen */
    .mainScreenDecoration{
        width: 60px !important;
    }
    .mainScreenImg{
        width: 330px;
    }
    .mainScreen{
        padding: 0 30px !important;
    }
    .title{
        font-size: 36px !important;
    }
    .mainScreen .title, .subtitle{
        width: 400px;
    }
    .subtitle{
        font-size: 14px !important;
    }
    /* main screen */

    /* about us screen */
    .aboutUsScreen{
        padding: 0 100px !important;
        height: 75vh !important;
    }
    .abousUsimg{
        width: 320px;
    }
    .beforeTitle{
        font-size: 12px;
    }
    .aboutUsScreen .title{
        font-size: 32px !important;
        width: 350px;
    }
    .aboutUsScreen .subtitle{
        font-size: 12px !important;
        width: 350px;
    }
    .advantageCon{
        margin-top: 20px !important;
    }
    .advantageIcon{
        width: 60px;
        height: 60px;
    }
    .advantageTitle{
        font-size: 20px !important;
    }
    .advantageSubtitle{
        font-size: 12px !important;
    }
    /* about us screen */

    /* services screen */
    .outServicesScreen{
        padding: 0 30px !important;
        height: 82vh !important;
    }
    .outServicesScreen .title{
        font-size: 32px !important;
    }
    .outServicesScreen .subtitle{
        font-size: 12px !important;
    }
    .cardsContainer{
        margin-top: 30px;
    }
    .servicesCard{
        width: 230px !important;
        height: 320px !important;
        padding: 15px !important;
    }
    .servicesCard_text h3{
        font-size: 24px !important;
    }
    .servicesCard_text p{
        font-size: 14px !important;
    }
    /* services screen */

    /* doctors screen */
    .ourDoctorsScreen{
        padding: 0 30px !important;
        height: 100vh !important;

    }
    .ourDoctorsScreen .title{
        font-size: 36px !important;
    }
    .ourDoctorsScreen .subtitle{
        font-size: 14px !important;
    }
    .doctorsCardsCon{
        margin-top: 30px !important;
    }
    .doctorCard{
        width: 230px !important;
        height: 380px !important;
    }
    .doctorCard_img{
        height: 280px !important;
    }
    .doctorInfoCon{
        width: 130px !important;
    }
    .doctorName{
        font-size: 18px !important;
    }
    .possition{
        font-size: 12px !important;
    }
    .doctorCard_text{
        padding: 0 20px !important;
    }
    /* doctors screen */

    /* statistic screen */
    .statisticScreen{
        padding: 0 30px !important;
        height: 200px !important;
    }
    .statisticScreen .statisticNumber{
        font-size: 42px !important;
    }
    .statisticScreen .statisticDescription{
        font-size: 16px !important;
    }
    /* statistic screen */

    /* steps screen */
    .stepsScreen{
        padding: 0 30px !important;
        height: 75vh !important;
    }
    .stepsImg{
        width: 280px;
        margin-left: 0px !important;
    }
    .stepsScreen .title{
        font-size: 32px !important;
    }
    .stepsScreen .subtitle{
        font-size: 12px !important;
        width: 400px;
    }
    .stepTitle{
        font-size: 16px;
    }
    .stepDescription{
        font-size: 10px;
        width: 300px;
    }
    .stepNumber{
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .step{
        width: 440px;
    }
    /* steps screen */

    /* make an appointment screen */
    .makeAnAppointmentScreen{
        padding: 40px 30px !important;
        height: 120vh !important;
    }
    .makeAnAppointmentScreen .title{
        font-size: 32px !important;
    }
    .makeAnAppointmentScreen .subtitle{
        font-size: 12px !important;
        width: 80%;
    }
    .makeAnAppointmentImg{
        width: 300px;
        height: min-content;
    }
    .makeAnAppointment_con{
        align-items: center;
    }
    form{
        width: 500px;
    }
    /* make an appointment screen */

    /* reviews */
    .reviewsScreen{
        padding: 40px 30px !important;
        height: 70vh !important;
    }
    .reviewsScreen .title{
        font-size: 32px !important;
    }
    .reviewsScreen .subtitle{
        font-size: 12px !important;
    }
    .review{
        width: 220px !important;
    }
    .reviewerName{
        font-size: 16px !important;
    }
    .reviewerText{
        font-size: 10px !important;
    }
    /* reviews */

    /* newsLetter */
    .newsLetter{
        padding: 0 30px !important;
    }
    /* newsLetter */
}
@media (max-width: 426px) {
    /* header */
    header{
        padding: 0 50px 0 20px !important;
        margin-top: 10px !important;
    }
    .logo{
        font-size: 22px !important;
        width: 125px !important;
    }
    .nav{
        width: 250px !important;
        font-size: 14px !important;
        display: none !important;
    }
    .header_btn{
        width: 90px !important;
        height: 45px !important;
        font-size: 14px !important;
    }
    .header_buttons{
        width: 200px !important;
        display: none !important;
    }
    #burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }
    .burger_line{
        width: 30px;
        height: 3px;
        background-color: #031126;
        margin: 2px 0;
        border-radius: 10px;
    }
    /* header */

    /* main screen */
    .mainScreenDecoration{
        width: 40px !important;
        height: 130vh !important;
    }
    .mainScreenImg{
        width: 330px;
        top: 300px;
    }
    .mainScreen{
        padding: 0 30px !important;
        height: 110vh !important;
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 32px !important;
    }
    .mainScreen .title, .subtitle{
        width: 95% !important;
    }
    .subtitle{
        font-size: 12px !important;
    }
    .mainScreen_btn{
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
    .button_video_con{
        width: 100%;
        margin-top: 20px;
    }
    .mainScreen_text{
        margin-top: 15px;
    }
    /* main screen */

    /* about us screen */
    .aboutUsScreen{
        padding: 0 20px !important;
        height: 140vh !important;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .abousUsimg{
        width: 330px;
        margin-top: 40px;
    }
    .beforeTitle{
        font-size: 12px;
    }
    .aboutUsScreen .title{
        font-size: 28px !important;
        width: 350px;
    }
    .aboutUsScreen .subtitle{
        font-size: 12px !important;
        width: 350px;
    }
    .advantageCon{
        margin-top: 20px !important;
    }
    .advantageIcon{
        width: 60px;
        height: 60px;
    }
    .advantageTitle{
        font-size: 20px !important;
    }
    .advantageSubtitle{
        font-size: 12px !important;
    }
    .aboutUs_text{
        margin: 0;
    }
    /* about us screen */

    /* services screen */
    .outServicesScreen{
        padding: 0 30px !important;
        min-height: 200vh !important;
    }
    .outServicesScreen .title{
        font-size: 32px !important;
    }
    .outServicesScreen .subtitle{
        font-size: 12px !important;
    }
    .cardsContainer{
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .servicesCard{
        width: 100% !important;
        height: 320px !important;
        padding: 20px !important;
        margin-top: 20px;
    }
    .servicesCard_text h3{
        font-size: 24px !important;
    }
    .servicesCard_text p{
        font-size: 14px !important;
    }
    /* services screen */

    /* doctors screen */
    .ourDoctorsScreen{
        padding: 0 30px !important;
        height: 240vh !important;
    }
    .ourDoctorsScreen .title{
        font-size: 28px !important;
    }
    .ourDoctorsScreen .subtitle{
        font-size: 12px !important;
    }
    .doctorsCardsCon{
        margin-top: 30px !important;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .doctorCard{
        width: 80% !important;
        height: 380px !important;
        margin-bottom: 40px;
    }
    .doctorCard_img{
        height: 280px !important;
    }
    .doctorInfoCon{
        width: 130px !important;
    }
    .doctorName{
        font-size: 18px !important;
    }
    .possition{
        font-size: 12px !important;
    }
    .doctorCard_text{
        padding: 0 20px !important;
    }
    /* doctors screen */

    /* statistic screen */
    .statisticScreen{
        padding: 20px 50px !important;
        height: 500px !important;
        flex-wrap: wrap;
    }
    .statisticScreen .statisticNumber{
        font-size: 42px !important;
    }
    .statisticScreen .statisticDescription{
        font-size: 16px !important;
    }
    /* statistic screen */

    /* steps screen */
    .stepsScreen{
        padding: 0 20px !important;
        height: 120vh !important;
        flex-direction: column;
        align-items: flex-start;
    }
    .stepsImg{
        width: 300px;
        margin-left: 0px !important;
        margin-top: 30px;
    }
    .steps_textCon{
        width: 100% !important;
    }
    .stepsScreen .title{
        font-size: 28px !important;
        width: 200px !important;
    }
    .stepsScreen .subtitle{
        font-size: 12px !important;
        width: 90% !important;
    }
    .stepTitle{
        font-size: 16px;
    }
    .stepDescription{
        font-size: 10px;
        width: 300px;
    }
    .stepNumber{
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    /* steps screen */

    /* make an appointment screen */
    .makeAnAppointmentScreen{
        padding: 40px 30px !important;
        height: 120vh !important;
        display: none;
    }
    .makeAnAppointmentScreen .title{
        font-size: 32px !important;
    }
    .makeAnAppointmentScreen .subtitle{
        font-size: 12px !important;
        width: 80%;
    }
    .makeAnAppointmentImg{
        width: 300px;
        height: min-content;
    }
    .makeAnAppointment_con{
        align-items: center;
    }
    form{
        width: 500px;
    }
    /* make an appointment screen */

    /* reviews */
    .reviewsScreen{
        padding: 40px 30px !important;
        height: 70vh !important;
        display: none;
    }
    .reviewsScreen .title{
        font-size: 32px !important;
    }
    .reviewsScreen .subtitle{
        font-size: 12px !important;
    }
    .review{
        width: 220px !important;
    }
    .reviewerName{
        font-size: 16px !important;
    }
    .reviewerText{
        font-size: 10px !important;
    }
    /* reviews */

    /* newsLetter */
    .newsLetter{
        padding: 0 30px !important;
        display: none !important;
    }
    /* newsLetter */
}